@media (max-width: 767px) {
	.section .about__text {
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .section .about__text, .section .about__social {
    width: 70%;
    max-width: 465px;
    margin-left: 40%;
  }
}

.about__text {
  z-index: 1;
  margin-top: 40px;
}

.about__social {
  margin-top: 20px;
  font-size: 2em;
}

.about__social--link {
  padding: 0 5px 0 5px;
  color: black;
}

.about__social--link:active, .about__social--link:focus {
  color: rgb(70, 70, 70);
  text-decoration: none;
}

.about__social--link:hover {
  color: rgb(70, 70, 70);
  cursor: pointer;
  text-decoration: none;
}

.about__social--link:visited {
  color: black;
  text-decoration: none;
}

.about__image {
  max-height: 100vh;
}
